.iconWrapper {
  width: fit-content;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconsContainer {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  margin-inline: auto;
}
.iconWrapper p {
  color: white;
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 10.4em;
  left: 1em;
}
.iconWrapper:hover p {
  color: white;
  opacity: 1;
  transition: 0.5s;
}
.contactLinks {
  display: block;
  /* position: absolute; */
}
.contactMeText {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 4em;
  padding: 0 3em;
  margin-bottom: 3em;
  color: #42a5f5;
  text-shadow: 2px 2px 0 #0a66c2, 3px 3px 0 white;
}
