.tech {
  cursor: default;
  width: fit-content;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.techStackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: sticky;
  background-color: #42a5f5;
  padding: 10vh 6vw 0 6vw;
  top: 0;
}

.techWrapper {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.uniWrapper {
  max-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.iconSVG {
  width: 15vh;
}
.techHeader {
  font-size: 10vh;
  border-bottom: 10px solid white;
}

.oop {
  font-size: 15vh;
  padding: 0;
  margin: 0;
  line-height: 1;
  letter-spacing: 0px;
  align-self: start;
}

@media (max-width: 500px) {
  .techStackContainer {
    height: 100dvh;
    min-height: 100vh;
    padding: 10vh 0;
    text-align: center;
    align-items: center;
    position: relative;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .techWrapper {
    justify-content: space-around;
  }
  .uniWrapper {
    justify-content: space-around;
  }
  .techHeader {
    font-size: 15vw;
    border-bottom: 10px solid white;
    margin-top: 3vh;
  }
  .oop {
    font-size: 17vw;
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: 0px;
    align-self: start;
  }
  .iconSVG {
    width: 17vw;
    margin: 1vw;
  }
}
